@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 4px;
}

#data > p {
  border-bottom: 0.5px solid grey;
  margin-top: 5px;
  line-height: 20px;
}

#data > p::first-line {
  color: grey;
  font-style: oblique;
  line-height: 30px;
}

.bodyFlex{
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  background-image: url("bg.png");
}

.Main {
  font-family: 'Montserrat', sans-serif;
  min-height: 500px;
  background-color: rgba(255,255,255,0.4);
  width: 32%;
}

.textField {
  width: 95%;
  height: 110px;
  font-family: 'Montserrat', sans-serif;
}

.author {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submitButton {
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
  background-color: pink;
  border: 1px solid pink;
  cursor: pointer;
}

.output {
  margin-top: 10%;
}
